.bundle/
log/*.log
pkg/
Gemfile.lock
tmp/*
# simplecov coverage report
/coverage

# Ignore gem builds
*.gem

# Ignore editor files
*~
\#*\#

# Ignore OpenOffice lock file
.~lock*

# Ignore OS-specific
.DS_Store
